@*
*@
@{
    string today = DateTime.Now.ToString("yyyy-MM-dd");
    string now = DateTime.Now.ToString("HH:mm");
}
@model DeArbetslosa.Models.Timetable;
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body id="timetableView">

<h1>Arrivals Landvetter</h1>
<h3 id="dateTitle">@today</h3>

<form>
    <input type="date" id="dateSelect" name="date" value="@today" />
    <select id="timeSelect" name="time" value="">
        <option value="@now">Now, @now</option>
        @for (int i = 0; i<24; i++) {
            string s = i < 10 ? "0" + i : i.ToString();
            <option value="@s:00">@s:00</option> 
        }
        </select>
        <input id="tableSearch" />
</form>
    <button onclick="refresh()">Refresh</button>

<div class="text-center">
    <div id="timetable">
        <p>
            Loading...
        </p>
    </div>
</div>
</body>

<script type="text/javascript">
    //TODO function for grabbing the entire Timetable as Json? as opposed to just Flights[]?
        //TODO these calls are a maze lol skip some steps
        // View -> site.js -> Controller -> Utility class Common -> AJAX returns Flights[]
    refresh();
    function refresh() {
        var date = document.getElementById("dateSelect").value; 
        var time = document.getElementById("timeSelect").value; 
        var term = document.getElementById("tableSearch").value; 
        document.getElementById("dateTitle").innerHTML = date;
        console.log(term);
        newArrivalsRequest(date, time, term);
    }
</script>
