@{
    ViewData["Title"] = "Home Page";
}
 
@model DeArbetslosa.Models.Arrivals;
@*
@Model.Flights[1].ArrivalTime.ScheduledUtc
*@
<head>
    <style>
        .flex-containerMenu {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: left;
            display: flex;
            flex-direction: row;
            font-size: 30px;
        }

       .flex-containerItem
       {
            display: flex;
            flex-direction: row;
       }

    </style>
</head>
<div class="text-center">
    <h1 class="display-4">
        Välkommen till Göteborg
        Landvetter Airport
    </h1>
    <div class="flex-containerMenu">
        <a href="www.w3schools.co">
        <div class=".flex-containerItem" >
            <img src="img/arriving.jpg">
            Avgångar
        </div>
        </a>
        <a href="Home/Security">
        <div class=".flex-containerItem" href="https://www.w3schools.com">
            <img src="img/flying.jpg">
            Ankomster
        </div>
        </a>
        <a href="Swedavia/Security">
        <div class=".flex-containerItem">
            <img src="img/ezgif-4-bf94aa4fe2.png">
            Väntetid i säkerhetskontroll
        </div>
        </a>
    </div>
</div>
 
