@model SecurityWaitTimeResponse
 
<!DOCTYPE html>
<html>
	<head>
	<head>
		<style>
			.grid-container {
				display: grid;
				gap: 10px;
				background-color: #FFFF;
				padding: 10px;
				
			}

			.grid-item {
				background-color: rgba(255, 255, 255, 0.8);
				text-align: left;
				padding: 20px;
				font-size: 30px;
			}

			.item1 {
				grid-column: 1 / span 2;
				grid-row: 1;
			}

			.item2 {
				grid-column: 2/ span 2;
				grid-row: 3;
			}

			.item5 {
				grid-column: 1 / span 1;
				grid-row: 3;
				background-image: url('/img/ezgif-4-bf94aa4fe2.png');
				background-size:auto;
				background-position: left;
				border-image-repeat: unset;
				background-repeat:no-repeat;
				text-align:right;
				
			}
		</style>
	</head>
		<meta charset="utf-8" />
		<title>@ViewData["Title"]</title>
	</head>
<body>
	
	<h1>@ViewData["Title"]</h1>
	<table>
		<thead>
			<div class="grid-container">
				<div class="grid-item item-TopText">Security Control</div>
				<div class="grid-item item-DescriptionText">
					<br></br>
					Make sure you’re standing in the right queue. If you have baggage, you should go first to a check-in counter and then to the security checkpoint. When it’s your turn to go through security screening, be prepared.
					<br></br>

					Get ready in order to get through faster – have your boarding card, one-litre bag with liquids, electronic devices, sharp objects and outer clothing ready.
					<br></br>

					It’s OK to pass through security screening even if your gate has not been posted.
					<br></br>
				</div>
				<div class="grid-item item-Button">Mer information kring säkerhetskontrollen</div>

			</div>

		</thead>
		<tbody>
			
		</tbody>
	</table>

	<div class="grid-container">
		
		<div class="grid-item item2">
			<p>Säkerhetskontroll:</p>
			@if (Model.WaitTimes[0].CurrentProjectedWaitTime > 0 )
			{
				<tr>

					<td>0-@Model.WaitTimes[0].CurrentProjectedWaitTime min </td>
					
				</tr>
			}
			else 
			{
				<td>Please stand by</td>
			}

			
		</div>
		<div class="grid-item item5">
		

			Väntetid i säkerhetskontroll
		</div>
	</div>
</body>
</html>